body{
	background-image: url("Magicball.png");
	background-repeat:no-repeat;
	background-size:50vh;
	background-position: top;
	background-color: #3f0254;

}
h1{
	text-align: center;
	color:blue;
}

h2{
	padding-top: 10%;
	margin: 0 auto;
	text-align: center;
	color:red;
}

button{
	position: fixed;
	top:44vh;
	left:46vw;
	background-color: lightgreen;
	color:darkblue;
}

button:hover{
	color:lightgreen;
	background-color: darkblue;
}